 
 body {
	padding-top: 90px;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
 }

 header {
	text-align: center;
 }
 
 .navbar {
   background-color: transparent;
   background: transparent;
   height: 90px;
}

.navbar li { color: #000 } 

 